<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>G9PGBI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Eredmény hozzáadása</h1>
    <h2>A verseny: <span th:text="${competition.compName}"></span></h2>
    <form action="#" th:action="@{/comp/{id}/addcompres(id=${competition.compId})}" th:object="${result}" method="post">
        <div class="form-group">
            <label for="runner">Futó</label>
            <select id="runner" th:field="*{runner}" class="form-control">
                <option th:each="runner : ${runners}" th:value="${runner}" th:text="${runner.runnerName}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="result">Eredmény (perc)</label>
            <input type="text" id="result" th:field="*{result}" class="form-control" placeholder="Írd be az eredményt">
        </div>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>
</body>
</html>