<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>G9PGBI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Új verseny hozzáadása az adatbázishoz</h2>
    <p th:if="${error}" th:text="${error}" class="alert alert-danger"></p>
    <form th:action="@{/addcompetition}" th:object="${competition}" method="post">
        <div class="form-group">
            <label for="compName">A verseny neve</label>
            <input type="text" th:field="*{compName}" class="form-control" id="compName" placeholder="A verseny neve">
        </div>
        <div class="form-group">
            <label for="length">És hossza (km)</label>
            <input type="text" th:field="*{length}" class="form-control" id="length" placeholder="A verseny hossza">
        </div>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>
</body>
</html>