<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>G9PGBI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="${runner.runnerName}"></h1>
    <hr>
    <table class="table">
    <thead>
        <tr>
            <th>Competition</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="result : ${results}">
            <td th:text="${result.competition.compName}"></td>
            <td th:text="${result.formattedResult}"></td>
        </tr>
    </tbody>
    </table>
    <hr>
    <a th:href="@{/runner/{id}/addrunres(id=${runner.runnerId})}" class="btn btn-secondary">Új eredmény</a>
    <a href="/runners" class="btn btn-primary">Vissza</a>
</div>
</body>
</html>